<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506538162512-13h649kk3bbnrdg24c2gk1q11vacppcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506538162512-13h649kk3bbnrdg24c2gk1q11vacppcs</string>
	<key>API_KEY</key>
	<string>AIzaSyA5T-mQyGptJPOy0GtWRQS5dwR4DaOmsxU</string>
	<key>GCM_SENDER_ID</key>
	<string>506538162512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mono0926.EmulatorSample</string>
	<key>PROJECT_ID</key>
	<string>emulator-auth-sample</string>
	<key>STORAGE_BUCKET</key>
	<string>emulator-auth-sample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506538162512:ios:019da208474ff458c2d455</string>
	<key>DATABASE_URL</key>
	<string>https://emulator-auth-sample.firebaseio.com</string>
</dict>
</plist>